@import url("../../../fonts/NanumSquare/nanumsquare.css");

*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
html, body{
    background-color : #117CA0;
    letter-spacing: -0.5px;
    font-size: 1rem;
    font-family: 'NanumSquare', sans-serif;
}

.blind{position:absolute; top: -9999px;left : -9999px;}
.fs16{font-size: 16px;}
.fs19{font-size: 19px;}

#skip{
    position : relative;
}
#skip a{
    position : absolute;
    top: -30px;
    left : 0;
    width: 140px;
    border : none;
    background : #111111;
    text-align: center;
}
.wrap {
    width: 720px;
    margin: 0 auto;
}

main{
    height:6195px;
    padding-top: 840px;
    background-image: url(../images/bg.png);
    background-size:720px;
    background-repeat: no-repeat;
    background-position: center top;
}

.roundBox{
    margin: 0 28px;
    padding: 71px 0px 108px;
    background-color: #f7eae1;
    border-top-right-radius : 98px;
    border-bottom-left-radius : 98px;
}
.info.roundBox{padding: 65px 0 67px;}
.info .date{margin : 0 53px;}
.info .videoWrap {
    overflow: hidden;
    margin-top: 60px;
}
.info video{
    /*width: 100%;*/
    height: 377px;
}

.info ul li{
    position:relative;
    /*padding: 8px 0;*/
    list-style: none;
}
.info ul li .title{
    position: absolute;
    top : 8px; left: 0;
    width: 89px;
    padding: 0 9px;
    color : #167ea3;
    font-size: 16px;
    font-weight: 800;
    text-align:justify;
}

.info ul li .title:before{
    content:"";
    display: block;
    position:absolute;;
    top: 0;
    right:0;
    bottom:19px;
    left:0;
    border-left: 3px solid #167ea3;
    border-right: 3px solid #167ea3;
}
.info ul li .title:after{
    content:""; display:inline-block; width:100%;
}
.info  ul li .content{
    padding-left: 125px;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}
.lineUp{
    margin: 35px 0px 0px 53px;
    padding-top: 104px;
    padding-right: 53px;
    background-image: url(../images/title_lineUp.png);
    background-repeat: no-repeat;
    background-position: left top;
}


.lineUp ul{
    display: flex;
    margin: 0 -4px;
}
.lineUp ul li{
    flex-basis: 33.33%;
    padding: 0 4px;
    list-style: none;
}
.lineUp ul li .inner{

}
.lineUp ul li .inner .logo{
    height: 150px;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
}
.lineUp ul li:nth-child(1) .inner .logo{background-image: url(../images/lineUp01.png);}
.lineUp ul li:nth-child(2) .inner .logo{background-image: url(../images/lineUp02.png);}
.lineUp ul li:nth-child(3) .inner .logo{background-image: url(../images/lineUp03.png);}
.lineUp .bottom{
    height: 119px;
    padding: 1.25rem;
    background-color: #fff;
}
.lineUp .bottom p:first-child{
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.4;
}
.lineUp .bottom p:last-child{
    font-weight: 800;
}
.promotion{
    background-image: url(../images/title_promotion.png);
    background-repeat: no-repeat;
    background-position: center 68px;
    padding: 275px 81px 71px;
}
.promotion button{
    display: block;
    position:relative;
    width: 100%;
    height: 83px;
    padding: 0 30px;
    background-color: #111;
    border: none;
    color: #fff;
    text-align: left;
    font-size: 21px;
    font-weight:400;
}
.promotion button:not(:last-child){
    margin-bottom: 14px;
}
.promotion button:focus{
    border: none;
}
.promotion button span{
    margin-right: 10px;
    color : #fbd0ca;
    font-weight: 800;
}
.promotion button a{
    position:absolute;
    top: 50%;
    right: 27px;
    margin-top:-13.5px;
}

.plot{
    padding-right: 53px;
    padding-left: 53px;
}
.plot .plotImages ul li{
    overflow: hidden;
    margin-bottom:16px;
    padding-top: 278px;
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    list-style: none;
}
.plot .plotImages ul li p{
    height: 60px;
    line-height:60px;
    color: #fff;
    text-align:center;
    font-size: 24px;
    font-weight: 700;
}
.plot .plotImages ul li:nth-child(1){
    background-image: url(../images/plot01.png);
}
.plot .plotImages ul li:nth-child(2){
    background-image: url(../images/plot02.png);
}
.plot .plotImages ul li:nth-child(3){
    background-image: url(../images/plot03.png);
}
.plot .plotImages ul li:nth-child(4){
    background-image: url(../images/plot04.png);
}
.plot .plotImages ul li:nth-child(5){
    background-image: url(../images/plot05.png);
}
.plot .plotImages ul li:nth-child(6){
    background-image: url(../images/plot06.png);
}
.plot .plotImages ul li:nth-child(7){
    background-image: url(../images/plot07.png);
}
.plot .plotImages ul li:nth-child(1) p{
    background-color: #01aef3;
}
.plot .plotImages ul li:nth-child(2) p{
    background-color: #e6007e;
}
.plot .plotImages ul li:nth-child(3) p{
    background-color: #00985f;
}
.plot .plotImages ul li:nth-child(4) p{
    background-color: #ffca1e;
}
.plot .plotImages ul li:nth-child(5) p{
    background-color: #01aef3;
}
.plot .plotImages ul li:nth-child(6) p{
    background-color: #e6007e;
}
.plot .plotImages ul li:nth-child(7) p{
    background-color: #00985f;
}
.price{
    padding: 40px 0 55px;
    font-size: 37px;
    font-weight: 800;
    text-align: center;
}
.sequence{
    margin-left: 53px;
    padding-top: 90px;
    background-image: url("../images/title_sequence.png");
    background-repeat: no-repeat;
    background-position: left top;
}
.sequence ul{
    display: flex;
    margin-right: 53px;
    background-repeat-x : no-repeat;
}
.sequence ul li:first-child{
    padding-left: 12px;
}
.sequence ul li:last-child{
    padding-right: 12px;
}
.sequence li{
    flex : 1;
    position:relative;
    padding : 6px 0px 4px;
    font-size : 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    letter-spacing: -2px;
    list-style: none;
}
.sequence ul li:not(:last-child):after{
    content:'';
    display: block;
    position:absolute;
    top:11px;
    right: -4px;
    width: 8px;
    height: 13px;
    background-image: url("../images/sequence arrow.png");
    background-repeat: no-repeat;
}
.sequence li span{
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0;
    padding: 13px 0;
    font-size: 18px;
    font-weight: normal;
    color: #333;
}
.sequence .first{
    background-image: url("../images/bg_sequence_01.png");
}
.sequence .second{
    margin-top:86px;
    background-image: url("../images/bg_sequence_03.png");
}

.counselingLink{
    height: 618px;
    padding-top:340px;
    background-image: url("../images/title_counseling.png");
    background-repeat: no-repeat;
    background-position: center 200px;
    box-sizing:border-box;
}
.counselingLink a{
    display:block;
    width: 284px;
    height: 80px;
    margin: 0 auto;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 32px;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}

footer{
    background-color : #fff3ed;

}
.map{
    padding-top: 165px;
    background-image:url(../images/title_foot.png);
    background-repeat: no-repeat;
    background-position: right 65px;
}
.map img{width: 100%;}

.map .btnBox{
    display:flex;
    margin: 45px 23px 0;
}
.map .btnBox a{
    display:block;
    flex: 1;
    height: 68px;
    margin: 0 5px;
    background-color:#111;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    line-height: 68px;
}

.map .address {
    padding: 64px 53px ;
}
.map .address h3{
    margin-bottom:24px;
    color:#111;
    font-size: 25px;
    font-weight: 700;
}
.map .address p{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.map .address h3:not(:first-child){
    margin-top: 56px;
}
.map .address p:not(:first-child){
    margin-top: 17px;
}
.map .address p a[href^="tel"] {
    color: inherit;
    font-size: 20px;
    text-decoration: none;
}
.f_logo{
    height: 237px;
    background-color: #111;
    text-align: center;
}
.f_logo a{
    display:block;
    padding: 64px 0;
    border:none;
    text-decoration: none;
}